<div class="form-container">
	<div class = "newcandidate">
		<h1>Candidate Details</h1>
	            <hr>
				<div class = "registration">
					<div class="id">
						<label for="id">ID</label>
						<input type="text" id="cand_id" name="id" value="<%= _id === null ? '' : _id %>" disabled/>
						<!-- <span class="help-inline"></span> -->
					</div>
					<div class="firstName">
						<label>First Name* </label>
						<input type = "text" id="firstname" name = "firstname" value="<%= firstname %>"/>
						<span class="help-inline"></span>
					</div>
					<div class = "middleName">
						<label>Middle Name </label>
						<input type = "text" id="middlename" name = "middlename" value="<%= middlename %>" />
						<!-- <span class="help-inline"></span> -->
					</div>
					<div class = "lastName">
						<label>Last Name* </label>
						<input type = "text" id="lastname" name = "lastname" value="<%= lastname %>" />
						<span class="help-inline"></span>
					</div>	
					<div class = "age">
						<label>Age </label>
						<input type = "text" id="age" name = "age" value="<%= age %>" />
						<!-- <span class="help-inline"></span>	 -->
					</div>	                		
					<div class = "gender">
						<label>Gender </label>
						<input type = "radio" name = "a" checked>Male</input>
						<input type = "radio" name = "a">Female</input>
						<!-- <span class="help-inline"></span> -->
					</div>
					<div class = "email">
						<label>Email* </label>
						<input type = "text" id="emailaddress" name = "emailaddress" value="<%= emailaddress %>" autofocus/>
						<span class="help-inline"></span>
					</div>
					<div class = "experience">
						<label>Experience </label>
						<select id="exp_month" name="exp_month" >
						  <option <%= exp_month == 'none' ? 'selected':''%>>Month</option>
						  <option <%= exp_month == '0' ? 'selected':''%>>0</option>
						  <option <%= exp_month == '1' ? 'selected':''%>>1</option>
						  <option <%= exp_month == '2' ? 'selected':''%>>2</option>
						  <option <%= exp_month == '3' ? 'selected':''%>>3</option>
						  <option <%= exp_month == '4' ? 'selected':''%>>4</option>
						  <option <%= exp_month == '5' ? 'selected':''%>>5</option>
						  <option <%= exp_month == '6' ? 'selected':''%>>6</option>
						  <option <%= exp_month == '7' ? 'selected':''%>>7</option>
						  <option <%= exp_month == '8' ? 'selected':''%>>8</option>
						  <option <%= exp_month == '9' ? 'selected':''%>>9</option>
						  <option <%= exp_month == '10' ? 'selected':''%>>10</option>
						  <option <%= exp_month == '11' ? 'selected':''%>>11</option>
						  <option <%= exp_month == '12' ? 'selected':''%>>12</option>
						</select>
						<span>Months</span>
						<select id="exp_year" name="exp_year" >
						  <option <%= exp_year == 'none' ? 'selected':''%>>Year</option>
						  <option <%= exp_year == '0' ? 'selected':''%>>0</option>
						  <option <%= exp_year == '1' ? 'selected':''%>>1</option>
						  <option <%= exp_year == '2' ? 'selected':''%>>2</option>
						  <option <%= exp_year == '3' ? 'selected':''%>>3</option>
						  <option <%= exp_year == '4' ? 'selected':''%>>4</option>
						  <option <%= exp_year == '5' ? 'selected':''%>>5</option>
						  <option <%= exp_year == '6' ? 'selected':''%>>6</option>
						  <option <%= exp_year == '7' ? 'selected':''%>>7</option>
						  <option <%= exp_year == '8' ? 'selected':''%>>8</option>
						  <option <%= exp_year == '9' ? 'selected':''%>>9</option>
						  <option <%= exp_year == '10' ? 'selected':''%>>10</option>
						  <option <%= exp_year == '11' ? 'selected':''%>>11</option>
						  <option <%= exp_year == '12' ? 'selected':''%>>12</option>
						  <option <%= exp_year == '13' ? 'selected':''%>>13</option>
						  <option <%= exp_year == '14' ? 'selected':''%>>14</option>
						  <option <%= exp_year == '15' ? 'selected':''%>>15</option>
						</select>
						<span>Year</span>
					</div>
					<div class = "skills">
						<label>Skills </label>
						<input type = "text" id="skills" name = "skills" value="<%= skills %>"  />
					</div>
					<div class = "dob">
						<label>Date Of Birth </label>
						<input type = "date" id="dob" name = "dob" value="<%= dob %>"  />
					</div>
					<div class = "date_of_interview">
						<label>Interviewd On  </label>
						<input type = "date" id="Date_of_interview" name= "Date_of_interview" value="<%=Date_of_interview%>" />
					</div>
					<div class = "status">
						<label>Status </label>
						<select id="status" name="status" >
						  <option <%= status == 'none' ? 'selected':''%>>Select</option>
						  <option <%= status == 'Offered' ? 'selected':''%>>Offered</option>
						  <option <%= status == 'Declined' ? 'selected':''%>>Declined</option>
						  <option <%= status == 'Scheduled For Interview' ? 'selected':''%>>Scheduled For Interview</option>
						  <option <%= status == 'Rejected' ? 'selected':''%>>Rejected</option>
						  <option <%= status == 'Joined' ? 'selected':''%>>Joined</option>
						</select>
						
					</div>
					<div class = "comment">
						<label>Comment </label>
						<textarea id="comment" name = "comment" rows = "4", cols = "40" ><%=comment%> </textarea>
					</div>
					<div class = "phone">
						<label>Phone* </label>
						<input type = "text" id="mobile" name = "mobile" value="<%= mobile %>"/>
						<span class="help-inline"></span>
					</div>
					<div class = "upload">
						<label>Upload File </label>
						<input type ="file" id="file" class="input-file" name = "file"/>
					</div>
					<a href="#" class="save"><button>Save</button></a> 
					<a href="#" class="delete"><button>Delete</button></a>           	
				</div>

			</div><!--newcandidate-->
			<div class="span12">
	        <div class="alert alert-success" style="display: none">
	            <b>Success!</b> Candidate Details saved successfully
	        </div>
	    </div>
</div>
