html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
 ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 20px;
  letter-spacing: 0.5px;
  
}

.form-container{
  width: 1000px;
  overflow: hidden;
  opacity: 1;
  border: 1px solid rgb(184, 184, 184);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: none;
  background-color: rgb(247, 246, 246);
  margin-left: 160px;
  padding-bottom: 60px;

}
.newcandidate {
	margin-left: 50px;
  font-size: 22px;
  font-family: lato;
  margin-top: 20px;

}

.registration{
	text-align: left;
}
.registration label{
  width:200px;
  padding:6px;
  margin-right: 20px;
  display: inline-block;
  font-size: 18px;
}
.registration input{
  display: inline-block;
  font-family: lato;
}

.registration input[type="text"] {
        padding: 6px;
        margin: 10px;
        width: 47%;
        position: relative;
        border:1px solid;
        border-color: #777;
        background-color: #fff;
        color: #777;
        border-radius: 1px;
        font-size: 16px;
        text-align: left;
        margin-top: 3px;
        -webkit-box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
        -moz-box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
        box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
       
}
.registration input[type="radio"] {
  font-size: 13px;
  padding: 5px;
  font-family: lato;
  margin: 20px 10px;
  color: #b6b6b6;
}
.registration button{
  width: 140px;
  margin: 50px 0px 30px 160px;
  font-size: 24px;
  padding: 6px;
  border-radius: 10px;
  background-color: #cb5253;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.registration a{
  color:#ffffff;
}
.registration input[type="file"] {
  margin: 10px;
}
.registration textarea{
        width: 45%;
        position: relative;
        border:1px solid;
        border-color: #777;
        background-color: #fff;
        color: #777;
        border-radius: 1px;
        font-size: 16px;
        text-align: left;
        margin-top: 3px;
        -webkit-box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
        -moz-box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
        box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
        margin: 10px;
        padding: 15px;
}
.comment label{
  vertical-align: top;
}
.registration select{
      margin:10px;
      position: relative;
      width:48%;
      padding: 8px;
        border:1px solid;
        border-color: #777;
        background-color: #fff;
        color: #777;
        border-radius: 1px;
        font-size: 16px;
        text-align: left;
        margin-top: 3px;
        -webkit-box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
        -moz-box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
        box-shadow:rgba(255,255,255,0.4) 0 1px 0, inset rgba(0,0,0,0.7) 0 1px 1px;
}

.experience p{
  display: inline-block;
  font-size: 14px;
}
